body {
    margin: 40px 60px;
    font-family: Poppins, sans-serif;
}



h1 {
    font-size: 32px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.sub-title {
    font-size:32px;
    margin-top: 0px;
}
.topic-link {
    font-size:30px;
    color: red;
    margin-bottom: 0px;

}




.title-section > address,
.title-section > time {
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    
}

.title-section > img {
    vertical-align: middle;
}

.title-section > address {
    display: inline; 
    color: red;
   
}

.meet-the-jellies-section h2{
    border-bottom: 1px solid black;
}
.meet-the-jellies-section a {
    color: red;
}